DB_HOST=localhost
DB_PORT=3306
DB_NAME=pms_db
DB_USERNAME=root
DB_PASSWORD=root

JWT_SECRET=c29tZXZlcnlzZWN1cmVzZWNyZXRrZXlmb3Jqd3RzaWduaW5ncHVycG9zZXMxMjM0NTY3ODkw
JWT_ACCESS_EXP=900000
JWT_REFRESH_EXP=604800000

CORS_ORIGINS=http://localhost:5173,http://localhost:3000
FRONTEND_URL=http://localhost:5173

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

UPLOAD_DIR=./uploads
